[submodule ".vim/bundle/vim-tmux-navigator"]
	path = .vim/bundle/vim-tmux-navigator
	url = git://github.com/christoomey/vim-tmux-navigator.git
[submodule ".vim/bundle/badwolf"]
	path = .vim/bundle/badwolf
	url = git://github.com/sjl/badwolf.git
